@import 'reset-css/sass/reset';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: $font-stack;
}


html, body, main, #sapper {
  height: 100%;
}