
$breakpoints: (
  "phone":        400px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);


$main-color: #2c2c2e;

$font-stack: 'jost', Arial, Helvetica, sans-serif;